MASTER_SCRIPT_URL=https://script.google.com/macros/s/YOUR_MASTER_DEPLOYMENT_ID/exec
FUEL_SCRIPT_URL=https://script.google.com/macros/s/YOUR_FUEL_DEPLOYMENT_ID/exec
WEIGHBRIDGE_SCRIPT_URL=https://script.google.com/macros/s/YOUR_WEIGHBRIDGE_DEPLOYMENT_ID/exec
USER_CHARGE_SCRIPT_URL=https://script.google.com/macros/s/YOUR_USER_CHARGE_DEPLOYMENT_ID/exec
MRF_SCRIPT_URL=https://script.google.com/macros/s/YOUR_MRF_DEPLOYMENT_ID/exec
JOINING_SCRIPT_URL=https://script.google.com/macros/s/YOUR_JOINING_DEPLOYMENT_ID/exec
MAINTENANCE_SCRIPT_URL=https://script.google.com/macros/s/YOUR_MAINTENANCE_DEPLOYMENT_ID/exec
COMPLAINTS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_COMPLAINTS_DEPLOYMENT_ID/exec
FUEL_PORTAL_PIN=1111
WEIGHBRIDGE_PORTAL_PIN=2222
USER_CHARGE_PORTAL_PIN=3333
MRF_PORTAL_PIN=4444
